<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="persoana.name" 
          class="form-control" id="name" name="name" placeholder="Enter your name"
          required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="persoana.email" 
          class="form-control" id="email" name="email" placeholder="Enter your email address"
          required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="adresa">Adresa</label>
        <input type="text" [(ngModel)]="persoana.adresa" 
          class="form-control" id="adresa" name="adresa" placeholder="Enter your address"
          required #adresa="ngModel">
      </div>
      <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="text" [(ngModel)]="persoana.telefon" 
          class="form-control" id="telefon" name="telefon" placeholder="Enter your phone number"
          required #telefon="ngModel">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="persoana.password" 
          class="form-control" id="password" name="password" placeholder="Enter your password"
          required #password="ngModel">
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Register</button>
    </form>
  </div>
</div>