<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Adresa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <td>{{ restaurant.idRestaurant }}</td>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.adresa }}</td>
          <button class="btn btn-info" (click)="selectRestaurant(restaurant.idRestaurant)">SELECT</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
